{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <div class="row" style="float: left;padding:50px;">
        <img src="../../static/app/images/fire-flames-clipart-black-and-white-black-lg-hi.png" width="200" height="200" />
    </div>
    <h1>FIRE INCIDENT SUPPORT SYSTEM</h1>
    <p class="lead">This is a project submitted as a final assignment for the Computer Programming Course.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Read more &raquo;</a></p>
</div>


{% endblock %}
