{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <div class="row" style="float: left;padding-right:40px">
        <img src="../../static/app/images/fire-flames-clipart-black-and-white-black-lg-hi.png" width="180" height="180" />
    </div>
    <h1>FIRE INCIDENT SUPPORT SYSTEM</h1>
    <p class="lead">*This is a project submitted as a final assignment for the Computer Programming Course.</p>
</div>

<div class="row">
    <h2>Some utilized tools:</h2>
    <div class="col-md-2">
        <h2>Django</h2>
        <p> Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It is free and open source.</p>
        <p><a class="btn btn-default" href="https://www.djangoproject.com/">Read more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Jinja</h2>
        <p>Jinja2 is a full featured template engine for Python. It has full unicode support, an optional integrated sandboxed execution environment, widely used and BSD licensed.</p>
        <p><a class="btn btn-default" href="http://jinja.pocoo.org/">Read more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>SF open data</h2>
        <p> SF OpenData is the central clearinghouse for data published by the City and County of San Francisco and is part of the broader open data program, DataSF. </p>
        <p><a class="btn btn-default" href="https://data.sfgov.org/">Read more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Google chart tools</h2>
        <p>
            Google chart tools are powerful, simple to use, and free. Try out our rich gallery of interactive charts and data tools.
        </p>
        <p><a class="btn btn-default" href="https://developers.google.com/chart/">Read more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Bootstrap</h2>
        <p> Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It is free and open source.</p>
        <p><a class="btn btn-default" href="http://getbootstrap.com/">Read more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Microsoft AZURE</h2>
        <p> Microsoft Azure is a growing collection of integrated cloud services analytics, computing, database, mobile, networking, storage, and web for moving faster, achieving more, and saving money. </p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Read more &raquo;</a></p>
    </div>
</div>

{% endblock %}
