{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <div class="row" style="float: left;padding:50px; align-self:center;">
        <img src="../../static/app/images/fire-flames-clipart-black-and-white-black-lg-hi.png" width="200" height="200" />
    </div>
    <h1>FIRE INCIDENT SUPPORT SYSTEM</h1>
    <p class="lead">This is a project submitted as a final assignment for the Computer Programming Course.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Read more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Graphs</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque non tortor condimentum gravida. 
            Vivamus luctus ex quis orci tempor tincidunt. Ut et aliquam dolor. Sed semper ante ut mi viverra ornare. 
            Nulla sed risus eget nulla suscipit dapibus in vitae velit. Cras sit amet facilisis odio. Proin blandit sagittis felis quis iaculis. 
            Sed non iaculis tortor, quis fermentum libero. In fermentum sagittis enim, non ultricies leo bibendum sit amet. Morbi neque felis, dapibus in fermentum eu, vehicula sit amet purus. 
            Phasellus nec dapibus ligula.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sources</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque non tortor condimentum gravida. 
            Vivamus luctus ex quis orci tempor tincidunt. Ut et aliquam dolor. Sed semper ante ut mi viverra ornare.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Team</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque non tortor condimentum gravida. 
            Vivamus luctus ex quis orci tempor tincidunt. Ut et aliquam dolor. Sed semper ante ut mi viverra ornare.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Read more &raquo;</a></p>
    </div>
</div>

{% endblock %}
